#navbar{
  box-shadow: 0px 6px 40px 20px rgba(73, 71, 71, 0.25);
}

.navbar-toggler-icon {
  border: 1px solid grey;
  border-radius: 5px;
}

/* svg {
  width: 100px;
} */
.firstContent {
  padding-top: 100px;
}

#btnLogin {
  border: 1px solid #5e50a1;
}

#first-content,
#second-content {
  width: 100%;
}

#hero {
  background: linear-gradient(
    to bottom,
    #5e50a1 0%,
    #5e50a1 30%,
    #f3f4f8 30%,
    #f3f4f8 100%
  );
}

#secondHero {
  background: #f8f8f8;
}

.p {
  color: #46505C;
}

#promotion {
  background: linear-gradient(to bottom right, #5e50a1 70%, #FFFFFF);
  border-radius: 40px 8px;
  position: relative;
  border: 1px solid #5e50a1;
}

/* hr {
  color: white;
  height: 100px;
} */

.i {
  color: #9B9B9B;
}

.profileCard {
  border-bottom: 2px solid #F2F3F4;
}

.pagination li {
  margin: 0px 5px;
}

.pagination .pageItemActive .pagelink {
  background-color: #5E50A1;
  color: white;
}

.pagination li a {
  color: black;
  padding: 15px;
  border-radius: 5px;
}

.portofolio-card p {
  margin-top: 5px;
}

.profile-data {
  font-size: 14px;
}

.buttonStyle:hover {
  background-color: #FBB017;
  color: white;
}

.buttonStyle {
  background-color: white;
  color: #FBB017;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid #FBB017;
  transition: background-color 0.3s, color 0.3s;
}


@media only screen and (max-width: 768px) {
  .abstract {
    font-size: 30px;
    text-align: center;
  }

  .tagline {
    font-size: 30px;
    line-height: 43px !important;
  }
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }

  .btn {
    margin: 0;
  }

  .information {
    margin-top: 20px;
  }

  .firstContent {
    padding-top: 0;
  }


}

@media only screen and (max-width: 992px) {
  .tagline {
    font-size: 30px !important;
    line-height: 50px !important;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

@keyframes slideIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromLeft 1s forwards;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  animation: slideInFromRight 1s forwards;
}

